In [1]:
import pandas as pd

# Load the space-separated file
df = pd.read_csv('nba_relationship.txt', delim_whitespace=True, header=None)

In [2]:
df.head()

   0   1
0  1   6
1  1   5
2  1  15
3  1   7
4  5   1

In [2]:
# Save the dataframe to a .csv file
df.to_csv('nba_relationship.csv', index=False, header=['uid1', 'uid2'])