In [2]:
import pandas as pd

# Load the space-separated file
df = pd.read_csv('region_job_2_relationship.txt', delim_whitespace=True, header=None)

In [3]:
df.head()

     0        1
0   14   122795
1   14  1482970
2  176     4461
3  176     4454
4  745    21766

In [4]:
# Save the dataframe to a .csv file
df.to_csv('region_job_relationship_2.csv', index=False, header=['uid1', 'uid2'])